@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,500;0,600;0,700;0,800;1,900&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
body{
  height: 100vh;
  background-color: #E2E9F9;
  display: flex;
  justify-content: center;
  align-items: center;
}

main{
  background-color: #fff;
  height: 80%;
  width: 80%;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  padding: 2.5rem 4rem;
  border-radius: 0.5rem;
  font-size: 1.2rem;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main .navigation{
  display: flex;
  justify-content: space-between;
  margin-bottom: 3px;
}

main .title{
  color: #373C47;
  margin-bottom: 10px;
}

main .navigation label {
  display: grid;
  grid-template: 1fr / auto 1fr;
  gap: 12px;
  box-shadow: rgba(0, 0,0, 0.27) 0px 0px 0.25em, rgba(0, 0, 0, 0.02) 0px 0.25em 1em;
  width: 15em;
  padding: 15px;
  transition: .3s;
}

main .navigation label:focus-within {
  box-shadow: rgba(0, 0,100, 0.27) 0px 0px 0.25em, rgba(12, 12, 1, 0.3) 0px 0.25em 1em;
  transition: .3s;
}

main .navigation label>input {
  outline: none;
  border: none;
  width: 100%;
  background: transparent;
  font-size: 1.05rem;

}

.select-country{
  background-color: transparent;
  border: none;
  color: white;
  background-color: #87A0CE;
  border-radius: 0px 10px 10px 0px;
  padding: 12px 3px;
  box-shadow: rgba(0, 0,0, 0.27) 0px 0px 0.25em, rgba(0, 0, 0, 0.02) 0px 0.25em 1em;

}

.users-container{
  font-size: 1rem;
  margin-top: 0px;
  display: flex;
  flex-wrap: wrap;
  overflow-y: auto;
}

.user{
  display: flex;
  margin: 0;
  padding: 0;
  padding: 1em;
  flex-basis: 33%;
  gap: 15px;
  min-width: 300px;
  transition: .3s;
  margin-bottom: 20px;

}

.user img{
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.user-informations{
  margin: auto 0;
}

.user-informations .user-title{
  color: #373C47;
}
.user-informations .user-locale{
  font-size: 0.9rem;
}

.user:hover{
  transition: .3s;
  cursor: pointer;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}

.users-found{
  align-self: flex-end;
  margin-bottom: 0px;
  padding: 10px 5px;
  color: #373C47;
  font-size: 1rem;
}




/* animation */
#load{
    width: 80px;
    height: 80px;
    border: 10px solid;
    border-radius: 50%;
    border-top-color: transparent;
    margin: 0 auto;
    color: #373C47;
    opacity: 0.58;
    animation: load 1s infinite linear;
}

@keyframes load {
    to{
        transform: rotate(360deg);
    }
}

.loading-container{
    width: 100%;
    height: 77vh;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.animation{
    position: relative;
    opacity: 0;
    transition: 1s;
    height: 0;
}

.hide{
  display: none;
}

/* media-queries */

@media only screen and (max-width: 1350px) {
  main h2{
    text-align: center;
  }
  .user{
  display: flex;
  margin: 0;
  padding: 0;
  padding: 1em;
  gap: 15px;
  transition: .3s;
  margin-bottom: 20px;
  }
  .users-container{
  display: flex;
  justify-content: center;
  }
}
@media only screen and (max-width: 800px) {
  main {
   height: 95%;
    width: 95%;
  }
  .user{
  display: flex;
  margin: 0;
  padding: 0;
  transition: .3s;
  margin-bottom: 20px;
  flex-wrap: wrap;
  }
  .users-container{
  display: flex;
  justify-content: center;
  }
  .user img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
}
@media only screen and (max-width: 500px) {
  main {
    height: 95%;
    width: 95%;
    padding:5px;
  }
  main h2{
    margin-top: 10px;
  }
  .user{
  display: flex;
  margin: 0;
  padding: 0;
  transition: .3s;
  flex-wrap: wrap;
  padding: 10px 5px;
  margin-bottom: 5px;
  }
  .user-informations .user-locale{
  font-size: 0.7rem;
}
  .users-container{
  display: flex;
  justify-content: space-around;
  }
  .user img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}
}
